<div hx-get="{% url 'lots:list-poll' lot.pk %}" hx-trigger="every 15s" hx-swap="outerHTML" class="card border-0" style="width: 18rem;">
    <img class="card-img-top" src="{{lot.img}}" alt="Card image cap">
    <div class="card-body">
        <h6 class="card-title" style="font-size: 12px;">{{lot.name}}</h6>
        <div class="card-text">
            {% if lot.is_over %}
            THIS LOT IS OVER
            <br>
            WINNER: {{lot.current_high_bidder}}
            <br>
            WINNING BID: {{lot.current_high_bid}}
            {% else %}
            <p>
            HIGH BIDDER: {{lot.current_high_bidder}}
            <br>
            HIGH BID: {{lot.current_high_bid}}
            <br>
            <br>
            {{lot.end_time|timeuntil}}
            {% endif %}
            </p>
        </div>
    </div>
