<div class="pt-3 bid-container" hx-get="{% url 'lots:detail-poll' lot.pk %}" hx-trigger="every 5s" hx-swap="outerHTML">
    {% if lot.is_over %}
    <div class="text-center auction-closed">
        <h1>This Auction Lot has closed</h1>
        <p>High Bid: {{lot.current_high_bid}}</p>
    </div>
    {% else %}
    {% if lot.has_bids %}
    <div class="pt-3 text-center">
        <h2>Current Proxy Bid: {{lot.actual_proxy_bid}}</h2>
        <h2>Current Real Bid Value Bid: {{lot.current_high_bid}}</h2>
        <h2>User: {{lot.current_high_bidder}}</h2>
        {% if lot.current_high_bidder != request.user %}
        <p style="color: red;">YOU ARE NOT WINNING</p>
        {% else %}
        <p style="color: blue;">YOU ARE WINNING</p>
        {% endif %}
        <p>ENDS {{ lot.end_time }}</p>
        <p>{{lot.end_time|timeuntil}}</p>
    </div>
    {% else %}
    <div class="pt-3 text-center">
        <h1>This lot has no bids</h2>
        <h2>Starting Bid: {{lot.starting}}</h2>
        {% if lot.current_high_bidder != request.user %}
        {% endif %}
        <p>ENDS {{ lot.end_time }}</p>
        <p>{{lot.end_time|timeuntil}}</p>
    </div>
        {% endif %}
    {% endif %}
</div>
