{% extends 'my-account.html' %}
{% load crispy_forms_tags %}

{% block javascript %}
{{block.super}}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}



{% block account_content %}

<table class="table">
    <thead>
        <h1>MY BIDS</h1>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">AUCTION</th>
        <th scope="col">ITEM NAME</th>
        <th scope="col">MAX BID</th>
        <th scope="col">REAL BID</th>
        <th scope="col">STATUS (won, winning, outbid, etc)</th>
      </tr>
    </thead>
    <tbody>
    {% for bid in bids  %}
      <tr>
        <th scope="row">{{bid.id}}</th>
        <td>{{bid.lot.auction.name}}</td>
        <td><a href="{{lot.get_absolute_url}}">{{bid.lot.name}}</a></td>
        <td>{{bid.value}}</td>
        <td>{{bid.value}}</td>
        <td>{{bid.value}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock account_content %}



{% block inline_javascript %}
<script>
    function closeModal() {
        var container = document.getElementById("modals-here")
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("modal")

        modal.classList.remove("show")
        backdrop.classList.remove("show")
        location.reload()

        setTimeout(function() {
            container.removeChild(backdrop)
            container.removeChild(modal)
        }, 200)
    }
</script>
{% endblock inline_javascript %}
